body{
    display: flex;
    flex-direction: column;
   padding: 5;
}


.main_container{

    display:flex;
    height: 85vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
    padding: 10px;
}

.panel{
    
    width: 75%;
    height: 95%;
    margin: 20px;
    padding: 10px;
}

.title_container{
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 100vw;
    padding: 50px;
    background-color:transparent;
    color: wheat;
    background-image: url("https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
    padding: 10px;
    
}

input{
    width: 90%;
}
#card_container{
    display: flex ;
    margin: 30px;
}

#cardDiv{
    overflow-y: scroll;
    height: 90%;
}

#cardBox{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 10px;
}

.col-md-4{
    width: 100%;
}

@media (min-width: 768px){
    .col-md-4 {
        width: 100%;
       max-width: 100%;
    }
}

/* 
.par_cont{
    display: flex;
  
    justify-content: space-around;
    width: fit-content;
  }

  .outer_cont{
width: 100%;
overflow-x: scroll;
  } */